<% layout("/layouts/boilerplate") %>    
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Current Case:</h1>
        </div>
        <div class="card col-6  offset-2">
            <img src="<%=problem.image.url%>" class="card-img-top show-img" alt="listing_image">
            <h6>Posted by @<i><%=problem.owner.username%></i></h6>
            <div class="card-body">
                <p class="card-text">
                    <%=problem.species%>
                    <br>
                    <%=problem.description%>
                    <br>
                    is Young: <%=problem.young%>
                    <br>
                    Location: <%=problem.place%>
                </p>

            </div>
        </div>
        </div>
    </div>
            <% if( currUser && currUser._id .equals(problem.owner._id)){%>
                <div class="showBtns col-6 offset-3">
                    <form method="GET" action="/problems/<%=problem._id%>/edit">
                        <button class="btn btn-dark ps-5 pe-5 editBtn">Edit</button>
                    </form>
                    <form method="POST" action="/problems/<%=problem._id%>?_method=DELETE">
                        <button class="btn btn-dark ms-3">Delete</button>
                    </form>
                </div>

            <%}%>

            
            <br><br>
            

       
    
</body>
